<span >
<a class="navbtn fl" ><i class="qkyicon_12 fz_18">&#xe612;</i></a>
<div class="nav_more row  collapse" id="menuList">
    <div class="nav_more_left col-xs-3">
        <div class="nav_more_lli">
            <h5><i class="qkyicon_mian mr5">&#xe640;</i><span>最近访问</span></h5>
            <div class="li_a clear">
                <a href="#">教育大数据分析</a>
                <a href="#">校园缴费</a>
                <a href="#">就餐管理</a>
                <a href="#">电子班牌</a>
                <a href="#">车辆预约管理</a>
                <a href="#">教师培训</a>
                <a href="#">空间预约管理</a>
                <a href="#">教师业务档案</a>
                <a href="#">校园服务岗</a>
            </div>
        </div>
        <div class="nav_more_lli">
            <h5 class="clear"><i class="qkyicon_mian mr5">&#xe643;</i><span>常用应用</span>
                <a class="setup fr" data-toggle="modal" data-target="#comapp_setup"  :on-click="@se">设置</a>
            </h5>
            <div class="li_a clear">
                <a href="#">电子图书馆</a>
                <a href="#">校友家园</a>
                <a href="#">考勤管理</a>
                <a href="#">党工团管理</a>
                <a href="#">一卡通</a>
                <a href="#">校园缴费</a>
                <a href="#">车辆预约管理</a>
                <a href="#">教育大数据分析</a>
                <a href="#">校园服务岗</a>
                <a href="#">校产管理</a>
            </div>
        </div>
    </div>
    <a class="appCenter clear  col-xs-3" href="appcenter.html"><i class="qkyicon_mian fl mr5 app">&#xe63e;</i><span class="fl">应用中心</span><i class="qkyicon_mian fr fz_12">&#xe641;</i></a>
    <div class="navline"></div>
    <div class="nav_more_right col-xs-9 clear" id="allapp">
        <div class="seachApp">
            <i class="qkyicon_mian">&#xe649;</i>
            <input type="text" class="form-control" placeholder="搜索应用">
        </div>
        <div class="clear">
            <div class="row_left"></div>
            <div class="row_right"></div>
        </div>
    </div>
</div>
</span>