<li class="nav_news_box">
    <a class="nav_news_icon" data-toggle="collapse" data-target="#msgList">
        <i class="qkyicon_14 fz_18">&#xe611;</i>
        <span class="nav_news_badge badge">99</span>
    </a>

    <div class="nav_news_popup collapse" id="msgList">
        <div class="nav_news_libox">
            <div class="nav_news_li clear">
                <div class="nav_news_appicon fl">
                    <div class="app_icon">APP</div>
                </div>
                <div class="nav_news_info fl">
                    <div class="clear">
                        <div class="fl nav_news_txt">
                            <label class="nav_news_name">在线测试开放答题</label>
                            <span class="nav_news_times">2017-03-28 13:00</span>
                        </div><div class="fr nav_news_appname">学习管理平台</div>
                    </div>
                    <div class="nav_news_cont">课程西方近代史的测试第一阶段测试已于2017-03-28 13:00开放答题</div>
                </div>
            </div>
            <div class="nav_news_li clear">
                <div class="nav_news_appicon fl">
                    <div class="app_icon">APP</div>
                </div>
                <div class="nav_news_info fl">
                    <div class="clear">
                        <div class="fl nav_news_txt">
                            <label class="nav_news_name">测试已截止</label>
                            <span class="nav_news_times">2017-03-28 13:00</span>
                        </div>
                        <div class="fr nav_news_appname">考务管理</div>
                    </div>
                    <div class="nav_news_cont">课程中国文化概论的测试课后小练习已于2017-03-28 10:30截止</div>
                </div>
            </div>
            <div class="nav_news_li clear">
                <div class="nav_news_appicon fl">
                    <div class="app_icon">APP</div>
                </div>
                <div class="nav_news_info fl">
                    <div class="clear">
                        <div class="fl nav_news_txt">
                            <label class="nav_news_name">课程成员加入</label>
                            <span class="nav_news_times">2017-03-28 09:12</span>
                        </div>
                        <div class="fr nav_news_appname">作业管理</div>
                    </div>
                    <div class="nav_news_cont">新的成员学生张小画加入课程设计概论</div>
                </div>
            </div>
            <div class="nav_news_li clear">
                <div class="nav_news_appicon fl">
                    <div class="app_icon">APP</div>
                </div>
                <div class="nav_news_info fl">
                    <div class="clear">
                        <div class="fl nav_news_txt">
                            <label class="nav_news_name">作业互评已经截止</label>
                            <span class="nav_news_times">2017-03-27 15:00</span>
                        </div>
                        <div class="fr nav_news_appname">校园办公</div>
                    </div>
                    <div class="nav_news_cont">课程西方近代史的作业课后作业已于2017-03-27 15:00截止互评，去查看互评结果并批改作业吧</div>
                </div>
            </div>
            <div class="nav_news_li clear">
                <div class="nav_news_appicon fl">
                    <div class="app_icon">APP</div>
                </div>
                <div class="nav_news_info fl">
                    <div class="clear">
                        <div class="fl nav_news_txt">
                            <label class="nav_news_name">作业提交</label>
                            <span class="nav_news_times">2017-03-27 11:00</span>
                        </div>
                        <div class="fr nav_news_appname">考务管理</div>
                    </div>
                    <div class="nav_news_cont">课程中国文化概论的作业文化解析已有6名学生提交，提交率23%</div>
                </div>
            </div>
        </div>
        <a class="nav_allnaws_check" href="newscenter.html">查看所有应用消息</a>
    </div>
</li>